<html>
<body>
     <h2 align="center">
          Built_in_Filters
     </h2>
     </h2>1.add</h2>
{{ 4|add:2 }}

<h2>2.addslashes</h2>
{{ "This is Abhirva's"|addslashes }}
<h2>3.Capfirst</h2>
{{ "abhirva"|capfirst }}
<h2>4.Center</h2>
{{ "Abhirva"|center:15 }}
<h2>5.Cut</h2>
{{ "String with spaces"|cut:" " }}
<h2>6.default</h2>
{{ ""|default:"nothing" }}
<h2>7.default_if_none</h2>
{{ None|default_if_none:"nothing" }}
<h2>10.divisibleby</h2>
{{ 21|divisibleby:"3" }}
<h2>11.filesizeformate</h2>
{{ 123456789|filesizeformat }}
<h2>13.floatformat</h2>
{{34.2323|floatformat}}<br>
{{34.2323|floatformat:"3"}}<br>
{{34.2323|floatformat:"0"}}<br>
{{34.2323|floatformat:"-3"}}<br>
<h2>14.</h2>
{{ 123456789|filesizeformat }}




</body>
</html>